
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserral";
}
li,a {
    text-decoration: none;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #f1e9d7;
    overflow: hidden;

}
.header{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 0px 3rem;
    align-items: center;
    position: relative;
    /* position: fixed; */
}
.logo{
    width: 10rem;
    margin: 1rem;
    /* border: 2px solid black; */
}

.logo span{
    font-size: 3rem;
    letter-spacing: normal;
} 

/* .logo h2{
    /* color: transparent; */
    /* width: 3rem;
    font-size: 3rem;
     font-weight: 600;
} */ 
.nevbar{
    /* border: 1px solid black; */
    list-style: none;
    
}
.nevbar-ul{
    /* border:  1px solid black; */
    display: flex;
    gap: 6rem;
    
    
} 
.nevbar-ul li {
    display: inline-block;
    /* border:  1px solid black; */
}
.nevbar-ul li a{
    color: black;

}
.nevbar-ul li a:hover{
     border-bottom: 2px solid black;
}
.img-menu{
    width: 30px;
    height: 20px;
    font-weight: 500;
    background-color: transparent;

}
.menu{
  display: none;
}

.nevbar_mobile{
    width: 100vh;
    position: relative;
    /* border: 2px solid black; */
}
.nevbar-ul-short{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: aliceblue; */
    width: 30vw;
    gap: 1rem;
    position: absolute;
    left: 0rem;
    right: 0rem;
    margin-left: auto;
    margin-right: auto;
    
}
.nevbar-ul-short li a{
    color: black;
}
.nevbar-ul-short li a:hover{
    border-bottom:  2px solid black;
}


@media only  screen and  (max-width:850px){
    .header{
        padding: 0px 1rem;
    }
   .logo span{
    font-size: 2rem;
   }
   .but-menu{
       background: none;
       border: none;
       
    }
    .menu{
        display: block;
        width: 3vh;

  }


    .nevbar{
        display: none;

    }

    .nevbar_mobile{
        margin-top: 1rem;
        width: 100vw;
       
    }
    .nevbar-ul-short{
        background-color: rgb(245, 226, 197);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        width: 50vw;
  }

}

@media only  screen and  (min-width:850px){
    .nevbar-ul-short{
          display: none;
          background-color: rgb(75, 49, 11);
          width: 20vw;
          border: 2px solid black;
    }
}